<div class="card shadow-effect">
    <img src="https://images.unsplash.com/photo-1512295767273-ac109ac3acfa?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTJ8fHdlYiUyMGRlc2lnbnxlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=600&q=60" 
    alt=" post-image " class="card-img-top">
    <div class="card-body">
        <small class="bg-light text-danger text-center"> Design</small>
        <small class="bg-light text-success text-center ml-3"> Featured</small>
        <small class="bg-light text-info text-center ml-3"> Views - 100,256</small>

        <h1 class="mt-1">HOW TO START A BLOG</h1>
        <P>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellendus ut fuga ab accusantium esse est illum eius, porro odio quidem, quisquam, accusamus beatae dolor voluptate consectetur optio debitis veniam eveniet?</P>
        <small class="bg-light text-warning text-center ml-3"> LAST UPDATED -SEP 20, 2021</small>


    </div>
</div>